.menu {
    background-color: white;
    min-width: 360px;
    position: fixed;
    z-index: 102;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px 30px;
    transform: translateX(100%);
    transition: transform .3s;
}

.active {
    transform: translateX(0);
}

.menu i {
    font-size: 35px;
    cursor: pointer;
}

.menu p {
    text-align: center;
    font-size: 38px;
    margin-bottom: 20px;
    cursor: pointer;
    font-weight: 500;
    transition: transform .3s;
}

.menu p:hover {
    transform: translateY(-5px);
}